<div class="orderList-basket-prod d-grid">
    <div class="obp-cell --product flex">
        <div class="obp-cell-img">
            <a href="card.html"><img class="lazy" data-src="img/test/products/3.png" alt="Product"></a>
        </div>
        <div class="obp-cell-title">
            <a href="card.html" class="order-product">Сухой корм для кошек Royal Canin "Persian" Adult</a>
            <div class="obp-cell__prop">Код товара: 101251</div>
            <div class="obp-cell__prop">Артикул: 25520040R1</div>
        </div>
    </div>
    <div class="obp-cell _count">5</div>
    <div class="obp-cell _price"><span class="price">2 400 ₽</span></div>
    <div class="obp-cell _sum"><span class="price">1 400 ₽</span></div>
    <div class="obp-cell _action">
        <div class="item-buttons">
            <a class="one-click" href="#">Купить в 1 клик</a>
            <button class="to-cart btn btn-fill r5" type="button" style="display: none;">В корзину</button>

            <div class="prod-counter btn btn-fill r5 js-prod-counter in-cart">
                <div class="prod-counter_btn js-minus"><span>-</span></div>
                <div class="prod-counter_value">
                    <input type="hidden" class="js-input" data-min="0" data-max="5" data-price="1190" value="1">
                    <div class="prod-count">1шт</div>
                    <div class="prod-total">1&nbsp;290 ₽</div>
                </div>
                <div class="prod-counter_btn js-plus"><span>+</span></div>
            </div>

        </div>
    </div>
    <div class="obp-cell _favorite">
        <span class="round prod-favorite" onclick="this.classList.toggle('is_added');" title="Избранное">
            <svg>
                <use href="sprite/sprite.svg#favorite"></use>
            </svg>
            <svg>
                <use href="sprite/sprite.svg#heart-full"></use>
            </svg>
        </span>
    </div>
</div>