<div class="box">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a class="breadcrumbs__link" href="/" itemprop="item">
                    <span itemprop="name">Главная</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a class="breadcrumbs__link" href="/dlya-sobak/" itemprop="item">
                    <span itemprop="name">Первый уровень</span>
                    <meta itemprop="position" content="2">
                </a>
            </li>
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="name">Текущая страница</span>
                <meta itemprop="position" content="3">
            </li>
        </ul>
    </div>
</div>