    <div class="modal modal-sm mobile-bottom" id="log-register">
        <div class="modal-inner">
            <div class="modal-title --center">Вход или регистрация</div>
            <div class="modal-fields">
                <div class="form-row">
                    <input type="text" name="bbb" placeholder="Телефон" data-mask />
                </div>
                <div class="form-row">
                    <input type="text" name="bbb" placeholder="Email" class="error"/>
                    <label class="error">Ошибка заполнения</label>
                </div>
                <div class="form-row">
                    <input type="password" name="bbb" placeholder="Пароль" class="pass-dinamic" />
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-fill r10">Получить код</button>
                    <button type="reset" class="btn btn-grey r10">Отменить</button>
                </div>
                <div class="form-row --text _center">
                    Для подтверждения номера Введите код, отправленный в sms на номер
                    <b>+7 978 701-68-84</b>
                </div>

                <div class="form-row --text _hint">
                    <span class="hint-title">Не пришла смс?</span>
                    <span class="bonus-hint phone-info">
                        <div class="bonus-hint__pic">?</div>
                        <div class="bonus-hint__text">
                            <b>• Нет доступа к старому номеру телефона</b><br>
                            Если вам нужно ввести код из СМС, но доступа к старому номеру телефона нет, позвоните нам, мы отвяжем ваш старый номер
                            телефона +7 495 916 94 94
                            <b>• Не приходит СМС с кодом</b><br>
                            Проверьте, что:
                            <ul>
                                <li>- Ваш телефон включен и находится в зоне приема сети;</li>
                                <li>- Вы ввели правильный номер телефона или адрес электронной почты.</li>
                                <li>- Иногда СМС приходит не сразу. Если СМС нет 20 минут, попробуйте получить код еще раз.</li>
                            </ul>
                        </div>
                    </span>
                </div>

                <div class="m-links">
                    <a href="#">Зелёная ссылка</a>
                </div>

                <div class="form-social ob-login">
                    <p>Войти с помощью:</p>
                    <ul class="scl flex">
                        <li class="scl_item"><a class="i-ya" target="_blank" href="#"></a></li>
                        <li class="scl_item"><a class="i-goo" target="_blank" href="#"></a></li>
                        <li class="scl_item"><a class="i-vkgr" target="_blank" href="#"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!--*************** Мобильное меню каталога  ******************-->
<section class="m-catalog-menu-wrapper" id="catalog-menu-mobile">

    <!--Первый экран-->
    <div class="m-catalog-menu-page --first-screen" id="catalog-1">
        <div class="catalog-aside__top__mobile">
            <div class="mobile-filter-title">Каталог товаров</div>
            <button type="button" class="js-close-section-menu">
                <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"> <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg>
            </button>
        </div>

        <div class="m-catalog-menu__filter">
            <form action="">
                <div class="top-search__form">
                    <input type="text" name="q" placeholder="Искать на Сами с Усами" autocomplete="off" class="js-catalogSearch">
                    <button type="submit"><svg><use href="sprite/sprite.svg#search"></use></svg></button>
                </div>
                <div class="top-search__result" id="searchResult">
                    <div class="tsr__tags flex">
                        <a href="#">Корма</a>
                        <a href="#">Для собак</a>
                        <a href="#">Для кошек</a>
                        <a href="#">Корма</a>
                        <a href="#">Для собак</a>
                        <a href="#">Для кошек</a>
                        <a href="#">Корма</a>
                        <a href="#">Для собак</a>
                        <a href="#">Для кошек</a>
                        <a href="#">Корма</a>
                        <a href="#">Для собак</a>
                        <a href="#">Для кошек</a>
                    </div>
                    <div class="tsr__list">
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Собачий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Кошачий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Хомячий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Крысиный корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Поросячий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Кошачий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Хомячий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Крысиный корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Собачий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Кошачий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Хомячий корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>
                        <div class="tsr__row flex-jcsb">
                            <div class="tsr__cell --name">Крысиный корм</div>
                            <div class="tsr__cell --delete"></div>
                        </div>


                        <div class="tsr__no-result">
                            <div class="c-notFound">
                                <div class="c-notFound__icon no-border">
                                    <img src="img/not-found.png" alt="" />
                                </div>
                                <div class="c-notFound__text">
                                    <h3>Ничего не нашлось</h3>
                                    <p>У нас 80 млн. товаров, но ни один из них не подходит под этот запрос</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="box autoscroll">
            <div class="sections-grid_wrapper mobile-only">
                <div class="sections-grid --frontPage d-grid">
                    <span data-category="category-code" class="sections-grid__item type_1" style="background-color: #FFF4E7;">
                        <span class="section-text">
                            <div class="h3">Собаки</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/1.webp">
                                <img class="lazy" data-src="img/test/sections-grid/1.png" alt="Собаки"
                                    src="img/test/sections-grid/1.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_1"
                        style="background-color: #F4EEEA;">
                        <span class="section-text">
                            <div class="h3">Кошки</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/2.webp">
                                <img class="lazy" data-src="img/test/sections-grid/2.png" alt="Кошки"
                                    src="img/test/sections-grid/2.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_2"
                        style="background-color: #FFDCDC">
                        <span class="section-text">
                            <div class="h3">Ветаптека</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/3.webp">
                                <img class="lazy" data-src="img/test/sections-grid/3.png" alt="Ветаптека"
                                    src="img/test/sections-grid/3.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_3" style="background-color: #FFE9D8">
                        <span class="section-text">
                            <div class="h3">Грызуны</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/4.webp">
                                <img class="lazy" data-src="img/test/sections-grid/4.png" alt="Грызуны"
                                    src="img/test/sections-grid/4.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_3" style="background-color: #D6F5FF">
                        <span class="section-text">
                            <div class="h3">Птицы</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/5.webp">
                                <img class="lazy" data-src="img/test/sections-grid/5.png" alt="Птицы"
                                    src="img/test/sections-grid/5.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_3" style="background-color: #E2E5FF">
                        <span class="section-text">
                            <div class="h3">Рыбки</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/6.webp">
                                <img class="lazy" data-src="img/test/sections-grid/6.png" alt="Рыбки"
                                    src="img/test/sections-grid/6.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_4" style="background-color: #E8F2D2">
                        <span class="section-text">
                            <div class="h3">Рептилии</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/7.webp">
                                <img class="lazy" data-src="img/test/sections-grid/7.png" alt="Рептилии"
                                    src="img/test/sections-grid/7.png">
                            </picture>
                        </span>
                    </span>
                    <span data-category="category-code" class="sections-grid__item type_4" style="background-color: #F2E7DD">
                        <span class="section-text">
                            <div class="h3">Лошади</div>
                            <div class="section-elCount">1450 товаров</div>
                        </span>
                        <span class="section-img">
                            <picture>
                                <source type="image/webp" src-set="img/test/sections-grid/8.webp">
                                <img class="lazy" data-src="img/test/sections-grid/8.png" alt="Рептилии"
                                    src="img/test/sections-grid/8.png">
                            </picture>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--//-->

    <!--Второй экран-->
    <div class="m-catalog-menu-page" data-target-category="category-code">
        <div class="catalog-aside__top__mobile">
            <div class="mobile-filter-title js-category-back">Собаки</div>
            <button type="button"  class="js-close-section-menu">
                <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                    <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                </svg>
            </button>
        </div>

        <div class="m-catalog-menu__filter">
            <form action="">
                <div class="top-search__form">
                    <input type="text" name="q" placeholder="Искать на Сами с Усами" autocomplete="off">
                    <button type="submit"><svg><use href="sprite/sprite.svg#search"></use></svg></button>
                </div>
            </form>
        </div>

        <div class="box autoscroll">
            <div class="m-categiry-list">
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Ветаптека</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Корм</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Лакомства и витамины</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Содержание и перевозка</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Тренировки и игры</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Уход за собакой</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Аксессуары</span>
                </div>
                <div class="m-categiry-item" data-category="category-code-next">
                    <span class="m-categiry__title">Сувернирная продукция</span>
                </div>
            </div>
        </div>
    </div>
    <!--//-->

    <!--Третий экран-->
    <div class="m-catalog-menu-page" data-target-category="category-code-next">
        <div class="catalog-aside__top__mobile">
            <div class="mobile-filter-title js-category-back">Ветаптека</div>
            <button type="button" class="js-close-section-menu">
                <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                    <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                </svg>
            </button>
        </div>

        <div class="m-catalog-menu__filter">
            <form action="">
                <div class="top-search__form">
                    <input type="text" name="q" placeholder="Искать на Сами с Усами" autocomplete="off">
                    <button type="submit"><svg><use href="sprite/sprite.svg#search"></use></svg></button>
                </div>
            </form>
        </div>

        <div class="box autoscroll">
            <div class="m-categiry-list">
                <a class="m-categiry-item" href="products.html">
                    <span class="m-categiry__title">Для ушей</span>
                </a>
                <a class="m-categiry-item" href="products.html">
                    <span class="m-categiry__title">От блох и клещей</span>
                </a>
                <a class="m-categiry-item" href="products.html">
                    <span class="m-categiry__title">От глистов</span>
                </a>
                <a class="m-categiry-item" href="products.html">
                    <span class="m-categiry__title">От стресса</span>
                </a>
            </div>
        </div>

    </div>
    <!--//-->
</section>
<!--*************** Конец Мобильного меню каталога  ******************-->

        <footer>
            <div class="f-top">
                <div class="box">
                    <div class="f-subscribe flex-jcsb">
                        <div class="f-subscribe__cell">
                            <div class="f-subscribe__title">
                                Лучшие предложения у вас на почте 
                            </div>
                        </div>
                        <div class="f-subscribe__cell">
                            
                            <form action="">
                                <div class="f-subscribe__form">
                                    <!-- Для неподписанных
                                    <input type="text" name="email" placeholder="Email" autocomplete="off" />
                                    <button class="btn btn-fill r5" type="submit">Подписаться</button>
                                    -->
                                    <div class="f-subscribe__status --success">Подписка оформлена!</div>
                                    <button class="btn btn-fill r5" type="submit" disabled>Подписаться</button>
                                </div>
                            </form>
                        </div>
                        <div class="f-subscribe__cell">
                            <div class="f-policy">
                                Я согласен на обработку своих персональных данных и принимаю условия <a href="#">политики конфиденциальности</a> и <a href="#">пользовательского соглашения</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="f-main flex-jcsb">
                    <div class="f-main__info">
                        <div class="f-main__item">
                            <a href="index.html" title="На главную"><img src="img/logo.svg" alt="Сами с усами"></a>
                        </div>
                        <div class="f-main__item">
                            <div class="f-main__item__title">Телефон</div>
                            <div class="f-main__item__content f-phone"><a href="tel:+74953638118" class="phone-link">+7 495 363 81 18</a></div>
                        </div>
                        <div class="f-main__item">
                            <div class="f-main__item__title">Режим работы интернет-магазина:</div>
                            <div class="f-main__item__content">
                                На сайте круглосуточно <br>
                                По телефону Пн-Пт 9:00-19:00 <br>
                                Сб 9:00-16:00, Вс - выходной
                            </div>
                        </div>
                        <div class="f-main__item">
                            <div class="f-main__item__title">Социальные сети</div>
                            <div class="f-main__item__content">
                                <ul class="scl flex">
                                    <li class="scl_item"><a class="i-yt" target="_blank" href="#"></a></li>
                                    <li class="scl_item"><a class="i-vk" target="_blank" href="#"></a></li>
                                    <li class="scl_item"><a class="i-ok" target="_blank" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-main__item">
                            <div class="f-main__item__title">Мессенджеры</div>
                            <div class="f-main__item__content">
                                <ul class="scl flex">
                                    <li class="scl_item"><a class="i-wt" target="_blank" href="#"></a></li>
                                    <li class="scl_item"><a class="i-tg" target="_blank" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="f-main__menu">
                        <nav class="f-menu flex-jcsb">

                            <!--****  Если в колонке пунктов больше 5, то добавить к ul класс mobile-toggle-height и span скрать/показать****-->

                            <!--1 колонка-->
                            <div class="f-menu__col">
                                <a href="#" class="f-menu__col__title">Каталог</a>
                                <ul class="mobile-toggle-height">
                                    <li><a href="#">Собаки</a></li>
                                    <li><a class="selected" href="#">Кошки</a></li>
                                    <li><a href="#">Рыбки</a></li>
                                    <li><a href="#">Грызуны</a></li>
                                    <li><a href="#">Птицы</a></li>
                                    <li><a href="#">Лошади</a></li>
                                    <li><a href="#">Рептилии</a></li>
                                    <li><a href="#">Террариумистика</a></li>
                                    <li><a href="#">Бренды и производители</a></li>
                                    <li><a href="#">Акции и скидки</a></li>
                                    <li><a href="#">Распродажа</a></li>
                                </ul>
                                <span data-full="Скрыть" data-cut="Показать ещё"></span>
                            </div>
                            <!--2 колонка-->
                            <div class="f-menu__col">
                                <a href="#" class="f-menu__col__title">Покупателям</a>
                                <ul>
                                    <li><a href="sales.html">Акции</a></li>
                                    <li><a href="brands.html">Бренды</a></li>
                                    <li><a href="#">Бонусная программа</a></li>
                                    <li><a href="#">Как купить</a></li>
                                    <li><a href="delivery-and-payment.html">Доставка и оплата</a></li>
                                    <li><a href="#">Возврат товара</a></li>
                                </ul>
                            </div>
                            <!--3 колонка-->
                            <div class="f-menu__col">
                                <a href="#" class="f-menu__col__title">Покупателям</a>
                                <ul class="mobile-toggle-height">
                                    <li><a href="#">Подписка на доставку</a></li>
                                    <li><a href="#">Подбор корма</a></li>
                                    <li><a href="#">Сравнение кормов</a></li>
                                    <li><a href="#">Партнерская программа</a></li>
                                    <li><a href="advice.html">Статьи</a></li>
                                    <li><a href="#">Груминг</a></li>
                                    <li><a href="#">Ветаптека</a></li>  
                                </ul>
                                <span data-full="Скрыть" data-cut="Показать ещё"></span>
                            </div>
                            <!--4 колонка-->
                            <div class="f-menu__col">
                                <a href="#" class="f-menu__col__title">Компания</a>
                                <ul>
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="shops.html">Магазины</a></li>
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="vacancies.html">Вакансии</a></li>
                                    <li><a href="#">Тендеры</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>   
            <div class="f-bottom">
                <div class="box">
                    <div class="f-bottom__inner">
                        <div class="f-bottom__pays">
                            <img src="img/pay_systems.png" alt="PAYS" />
                        </div>
                        <div class="f-bottom__popyright">
                            © 1992-2021. Зоомагазин «Сами с Усами» г. Москва. Все права защищены.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookee-wrapper" id="cookie_notification">
            <div class="notif-row flex-jcsb">
                <div class="notif-cell cell-icon">
                    <svg><use href="sprite/sprite.svg#cat-cookie"></use></svg>
                </div>
                <div class="notif-cell cell-text">Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie.</div>
                <div class="notif-cell"><button class="btn btn-fill r10 cookie_accept">Согласен</button></div>
            </div>
        </div>
        <div class="catalog-menu-overlay" id="menu-overlay"></div><!-- ///Овелей для меню каталога-->
        <div class="mobile-overlay" id="mobile-overlay" style="display: none;"></div><!-- ///Овелей для меню каталога-->
    </main>
<!--
    ****************  JS ниже ТОЛЬКО ДЛЯ ДЕМОНСТРАЦИИ  ****************
    Проставление айдишников в инпуты
-->
<script>
   $(document).ready(function(){
    const item = $('.prod-item');
     if (item.length > 0){
        for(let i = 0; i < item.length; i++){
            $(item).eq(i).find('input[type=radio]').each(function(inx, el){
                
                $(el).attr('name', $(el).prop('name')+'_'+i);
                let newName = $(el).attr('name');
                $(el).attr('id', 'prod_'+i+'_'+ newName +'_'+inx);
                $(el).next('label').attr('for', 'prod_'+i+'_'+$(el).prop('name')+'_'+inx);
                if(inx == 0){
                    $(el).attr('checked', true);
                }
            });
        }
     }
           
   })
</script>

</body>
</html>

