<div class="catalog-filter">

    <div class="catalog-view-settings flex-jcsb">
        <div class="catalog-mob__filter">
            <span class="js-mobile-toggle-aside"><svg>
                    <use href="sprite/sprite.svg#equalizer" />
                </svg></span>
        </div>
        <div class="catalog-sort">
            <div class="sort-row flex">
                <div class="sort-cell">Сортировка:</div>
                <div class="sort-cell sort-drop" data-sort="price">
                    <div class="sort-drop_item current" data-value="asc">По возростанию цены</div>
                    <div class="sort-drop_item" data-value="desc">По убыванию цены</div>
                </div>
            </div>
        </div>
        <div class="catalog-views">
            <div class="view__buttons flex">
                <div class="view__button" data-view="card"><svg>
                        <use href="sprite/sprite.svg#view1" />
                    </svg></div>
                <div class="view__button current" data-view="grid"><svg>
                        <use href="sprite/sprite.svg#view2" />
                    </svg></div>
                <div class="view__button" data-view="line"><svg>
                        <use href="sprite/sprite.svg#view3" />
                    </svg></div>
            </div>
        </div>
    </div>

    <div class="catalog-filter-choice flex">

        <div class="choice-tag flex">
            <span class="choice-tag__title">Ржаной</span>
            <span class="choice-tag__close"></span>
        </div>

        <div class="choice-tag flex">
            <span class="choice-tag__title">Зерновой</span>
            <span class="choice-tag__close"></span>
        </div>

        <div class="reset-tag">
            <span class="reset-tag__title">Сбросить всё</span>
        </div>

    </div>

</div>