<div class="pagination flex">
    <div class="pagination-pages flex">
        <a class="pagination__item pagination__item_prev is-disabled" href="/advice/" title="Предыдущая страница">
            <span><svg>
                    <use href="sprite/sprite.svg#prev"></use>
                </svg></span>
        </a>
        
        <span class="pagination__item is-first is-active"><span>1</span></span>
        <a href="#" class="pagination__item "><span>2</span></a>
        <a href="#" class="pagination__item "><span>3</span></a>
        
        <a class="pagination__item pagination__item_next" title="Следующая страница" href="#">
            <span><svg>
                    <use href="sprite/sprite.svg#next"></use>
                </svg></span>
        </a>
    </div>
    <div class="pagination-all">
        <a href="#" class="btn btn-transp r10">Показать всё</a>
    </div>
</div>