<!--Товар-->
<div class="prod-item flex-jcsb">
    <div class="prod-item__top">
        <div class="pc-item__labels">
            <span class="label-round sale"><svg>
                    <use href="sprite/sprite.svg#percent" />
                </svg></span>
            <span class="label-round new"><span>new</span></span>
        </div>
        <div class="prod-item__top__group">
            <div class="prod-item__img">
                <a href="card.html"><img class="lazy" data-src="img/test/products/1.png" alt=""></a>
            </div>
            <div class="prod-item__text">
                <a href="card.html" class="prod-item__title">
                    Padovan Mineral Block Rody Минеральный блок для...
                </a>
                <div class="type_3__row flex">
                    <div class="item-stock not_avail">Нет в наличии</div>
                    <div class="item-prop">Арт. 568998745</div>
                    <div class="item-prop">Код 859654524</div>
                </div>
            </div>
        </div>
        <div class="prod-item__offers">
            <div class="prod-item__offers__title">Варианты</div>
            <div class="offers-colors flex">
                <div class="offers-color_item">
                    <input id="color_1" type="radio" name="color" value="#49B900" />
                    <label for="color_1" class="color-value" style="background-color: #49B900"></label>
                </div>
                <div class="offers-color_item">
                    <input id="color_2" type="radio" name="color" value="#E14927" />
                    <label for="color_2" class="color-value" style="background-color: #E14927"></label>
                </div>
                <div class="offers-color_item">
                    <input id="color_3" type="radio" name="color" value="#C727E1" />
                    <label for="color_3" class="color-value" style="background-color: #C727E1"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-item__bottom">
        <div class="item_price-row flex-jcsb">
            <div class="item-price flex">
                <span class="price-value">1 190 ₽</span>
                <div class="price-bonus">+20</div>
            </div>
            
            <div class="item-stock">В наличии</div>
        </div>
        <div class="item-buttons">
            <a class="one-click" href="#">Купить в 1 клик</a>
            <button class="to-cart btn btn-fill r10" type="button">В корзину</button>

            <div class="prod-counter btn btn-fill r10 js-prod-counter">
                <div class="prod-counter_btn js-minus"><span>-</span></div>
                <div class="prod-counter_value">
                    <input type="hidden" class="js-input" data-min="0" data-max="10" data-price="1190" value="0"/>
                    <div class="prod-count"></div>
                    <div class="prod-total"></div>
                </div>
                <div class="prod-counter_btn js-plus"><span>+</span></div>
            </div>

            <span class="prod-favorite" onclick="this.classList.toggle('is_added');" title="Избранное">
                <svg><use href="sprite/sprite.svg#favorite" /></svg> 
                <svg><use href="sprite/sprite.svg#heart-full" /></svg> 
            </span>
            
        </div>
    </div>
</div>