<!--Товар-->
<div class="prod-item flex-jcsb">
    <div class="prod-item__top">
        <div class="pc-item__labels">
            <span class="label-round new"><span>new</span></span>
        </div>
        <div class="prod-item__top__group">
            <div class="prod-item__img">
                <a href="card.html"><img class="lazy" data-src="img/test/products/3.png" alt="3"></a>
            </div>
            <div class="prod-item__text">
                <a href="card.html" class="prod-item__title">
                    TARHONG Миска для собак и кошек двойная "Gibraltar", бирюзовая с рисунком...
                </a>
                <div class="type_3__row flex">
                    <div class="item-stock not_avail">Нет в наличии</div>
                    <div class="item-prop">Арт. 568998745</div>
                    <div class="item-prop">Код 859654524</div>
                </div>
            </div>
        </div>
        <div class="prod-item__offers">
            <div class="prod-item__offers__title">Варианты</div>
            <div class="offers-grid">
                <div class="offers-grid_item">
                    <input id="size_1" type="radio" name="size" value="100х170х20см" />
                    <label for="size_1" class="grid-value">100х170х20см</label>
                </div>
                <div class="offers-grid_item">
                    <input id="size_2" type="radio" name="size" value="120х175х30см" />
                    <label for="size_2" class="grid-value">120х175х30см</label>
                </div>
                <div class="offers-grid_item">
                    <input id="size_3" type="radio" name="size" value="120х175х40см" />
                    <label for="size_3" class="grid-value">120х175х40см</label>
                </div>
                <div class="offers-grid_item">
                    <input id="size_4" type="radio" name="size" value="120х175х50см" />
                    <label for="size_4" class="grid-value">Ещё</label>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-item__bottom">
        <div class="item_price-row flex-jcsb">
            <div class="item-price flex">
                <span class="price-value discount-price">1 190 ₽</span>
                <div class="item-discount">
                    <span class="price-old">2 190 ₽</span>
                    <span class="discount-value">-10%</span>
                </div>
            </div>
            <div class="item-stock not_avail">Нет в наличии</div>
        </div>
        <div class="item-buttons">
            <a class="btn btn-transp r10" data-fancybox href="#to-subscribe">Сообщить о поступлении</a>
            <span class="prod-favorite" onclick="this.classList.toggle('is_added');" title="Избранное">
                <svg><use href="sprite/sprite.svg#favorite" /></svg> 
                <svg><use href="sprite/sprite.svg#heart-full" /></svg> 
            </span>
        </div>
    </div>
</div>