<div class="sections-grid --frontPage d-grid">
    <a href="#" class="sections-grid__item type_1" style="grid-area: 1 / 1 / 2 / 6; background-color: #FFF4E7;">
        <span class="section-text">
            <h3>Собаки</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/1.webp" />
                <img class="lazy" data-src="img/test/sections-grid/1.png" alt="Собаки" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_1" style=" grid-area: 1 / 6 / 2 / 11; background-color: #F4EEEA;">
        <span class="section-text">
            <h3>Кошки</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/2.webp" />
                <img class="lazy" data-src="img/test/sections-grid/2.png" alt="Кошки" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_2" style="grid-area: 1 / 11 / 2 / 13; background-color: #FFDCDC">
        <span class="section-text">
            <h3>Ветаптека</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/3.webp" />
                <img class="lazy" data-src="img/test/sections-grid/3.png" alt="Ветаптека" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_3" style="grid-area: 2 / 1 / 3 / 5; background-color: #FFE9D8">
        <span class="section-text">
            <h3>Грызуны</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/4.webp" />
                <img class="lazy" data-src="img/test/sections-grid/4.png" alt="Грызуны" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_3" style=" grid-area: 2 / 5 / 3 / 9; background-color: #D6F5FF">
        <span class="section-text">
            <h3>Птицы</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/5.webp" />
                <img class="lazy" data-src="img/test/sections-grid/5.png" alt="Птицы" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_3" style="grid-area: 2 / 9 / 3 / 13; background-color: #E2E5FF">
        <span class="section-text">
            <h3>Рыбки</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/6.webp" />
                <img class="lazy" data-src="img/test/sections-grid/6.png" alt="Рыбки" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_4" style="grid-area: 3 / 1 / 4 / 7; background-color: #E8F2D2">
        <span class="section-text">
            <h3>Рептилии</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/7.webp" />
                <img class="lazy" data-src="img/test/sections-grid/7.png" alt="Рептилии" />
            </picture>
        </span>
    </a>
    <a href="#" class="sections-grid__item type_4" style="grid-area: 3 / 7 / 4 / 13; background-color: #F2E7DD">
        <span class="section-text">
            <h3>Лошади</h3>
            <div class="section-elCount">1450 товаров</div>
        </span>
        <span class="section-img">
            <picture>
                <source type="image/webp" src-set="img/test/sections-grid/8.webp" />
                <img class="lazy" data-src="img/test/sections-grid/8.png" alt="Рептилии" />
            </picture>
        </span>
    </a>
</div>