// Variables
$green:  #57C224;
$green_hov: #35860E;
$green_light: rgba(87,194,36,0.1);
$pink:  #C02356;
$oink-opac: rgba(192, 35, 86, 0.1);
$text_dark: #101829;
$text_grey: #5f6c8b;
$grey: #a4b3d3;
$yell: #FAE100;
$gr45: #586580;
$grey_text: #58657f;
$grey_border: #A9B5CF;
$white: #fff;
$red: #a72755;

$field_bord: rgb(150, 162, 190);
$field_bg: #F8F8FA;

@mixin flex{
    display: flex;
    width: 100%;
}
@mixin flex-jcsb {
    @include flex;
    justify-content: space-between;
}
@mixin flex-al-ctr{
    align-items: center;
}
@mixin flex-al-end {
    align-items: flex-end;
}
@mixin center-position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
@mixin pseudo{
    display: block;
    content: '';
    position: absolute;
}
@mixin scrollbar{
    scrollbar-color: lightgrey #fbfbfb;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #fbfbfb;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 9em;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(159, 158, 158);
    }
}
@mixin status {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    line-height: 1em;
    text-align: left;

    &.__new{
        color: $green;
        background: $green_light;
        svg {
            fill: $green;
        }
    }
    &.__yell{
        color: #AD8701;
        background: #FFF7B0;
        svg {
            fill: #AD8701;
        }
    }
    &.__blue{
        color: #1B93C8;
        background: #DDF5FF;
        svg {
            fill: #1B93C8;
        }
    }
    &.__red{
        color: #FF3D00;
        background: #FFECE6;
        svg {
            fill: #FF3D00;
        }
    }
    &.__purple{
        color: #8A2986;
        background: #FFDDFE;
        svg {
            fill: #8A2986;
        }
    }
    &.__grey {
        color: #5C6B8C;
        background: #E8E8E8;
        svg {
            fill: #5C6B8C;
        }
    }

    &.__NC {
        color: #511;
        background: #FFC0BC;
        svg {
            fill: #511;
        }
    }

    &.__SD,
    &.__CS,
    &.__OD,
    &.__TO {
        color: #5C6B8C;
        background: #F6F6F6;
    }

    &.__P {
        color: #23510D;
        background: #DEFECE;
        svg {
            fill: #23510D;
        }
    }

    &.__F {
        color: #004F08;
        background: #BAF1BF;
        svg {
            fill: #004F08;
        }
    }

    &.__R {
        color: #261063;
        background: #E5DCFF;
        svg {
            fill: #261063;
        }
    }

    &.__C {
        color: #DA0808;
        background: #F5D9D9;
        svg {
            fill: #DA0808;
        }
    }

    &.__SV {
        color: #733A06;
        background: #FDE6D1;
        svg {
            fill: #733A06;
        }
    }

    &.__PE {
        color: #A9018E;
        background: #FFE3F7;
        svg {
            fill: #A9018E;
        }
    }

    &.__N {
        color: #004336;
        background: #D5F9F2;
        svg {
            fill: #004336;
        }
    }

    &.__S {
        color: #48613C;
        background: #DFE7CA;
        svg {
            fill: #48613C;
        }
    }

    &.__CF {
        color: #866B0D;
        background: #FBF6CE;
        svg {
            fill: #866B0D;
        }
    }

    &.__OP {
        color: #08566F;
        background: #CCE4F2;
        svg {
            fill: #08566F;
        }
    }

    &.__PO {
        color: #9C4709;
        background: #FFDABE;
        svg {
            fill: #9C4709;
        }
    }

    svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        flex-grow: 0;
    }
}